<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.neilerua72.polycolo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_v0"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_v0_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".IA.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ScreenGame"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_screen_game"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme"></activity>
    </application>

</manifest>